*{
  box-sizing: border-box;
  margin: 0;
}

header {
  padding: 30px 0 30px 0;
  background: #343a40;
  color: #fff;
  margin: auto;
  display: flex;
  align-items: center;
}

header h1 {
  margin-left: 15px;
  font-weight: 300;
  margin: auto;
}

body {
  font-family: 'Quicksand', sans-serif;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 30px;
  max-width: 960px;
  margin: 0 auto 30px;
}

.card {
  display: inline-block;
  width: 299px;
  height: 507px;
  box-shadow: 0 0 20px #aaa;
  margin: 25px;
  vertical-align: top;
  position: relative;
}

.card-cover {
  border: 2px solid gray;
  height: 60%;
  overflow: hidden;
  background: darkgray;
}

.card-img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  
}

.card-description {
  width: 100%;
  padding: 10px;
}

.card-title { 
  font-family: 'Enriqueta', arial, serif; 
  line-height: 1.25; 
  margin: 0 0 5px; 
  font-size: 18px; 
  font-weight: bold; 
}

.card-text {
  color: #333333;
  font-family: "Helvetica Neue",Arial,sans-serif;
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 6px;
}

.card-favorite {
  position: absolute;
  bottom: 3px;
  margin-left: 270px;
}

.void-star {
  color: rgb(87, 83, 83);
}

.fill-star {
  color: rgb(52, 7, 216);
}

.search {
  width: 30%;
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.searchTerm {
  width: 100%;
  border: 3px solid #343a40;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #3d3d3d;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #343a40;
  background: #343a40;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.fav-btn {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background: #343a40;
  border-color: #fff;
  color: #fff;
  border-radius: 5px;
  cursor:pointer;
}

.pagination{
  display: flex;
  justify-content: center;
}

